@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
 
}

body {
  margin: 0;
  padding: 0;
  background-color: #09090b; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.backdrop-blur-md, .backdrop-blur-xl {
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
}