@import "tailwindcss";

/* 1. Hardware Acceleration (Blinking Fix) */
* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* 2. Smooth Scrolling fix for modern browsers */
html {
  scroll-behavior: smooth !important;
  overscroll-behavior-y: none; /* Screen bouncing ko rokta hai */
}

/* 3. Performance optimization for Glassmorphism */
.backdrop-blur-md, .backdrop-blur-xl {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
}

index.css